@font-face {
    font-family: Blanch;
    src: url(blanch_caps.otf);
}

@font-face {
    font-family: Gotham-Book;
    src: url(gotham_book.otf);
}

@font-face {
    font-family: Gotham-Medium;
    src: url(gotham_medium.otf);
}

h1 {
	font-family: "Gotham-Book", sans-serif;
	font-weight: 600;
	font-size: 9em;
	line-height: .9em;
}

h2, h3 {
	font-family: "Gotham-Medium", sans-serif;
}

h4, h5 {
	font-family: "Gotham-Book", sans-serif;
}

h6 {
/*	margin-top: 15px;*/
	font-family: "Gotham-Medium", sans-serif;
	color: #0d4e63;
}

body {
	font-family: "Gotham-Book", sans-serif;
	color: #0d4e63;
}

.accordion-title {
	font-size: 1.5em;
	color: #0d4e63;
}

.accordion-title:hover, .accordion-title:focus {
	background-color: #0d4e63;
	color: #fff;
}

/*p {
	font-size: 14px;
}*/

.darkPinkText {
	color: #d6414f;
}

.pinkText {
	color: #ee6068;
}

.section {
	padding: 4% 0% 5% 0%;
}

.sectionFull {
	padding: 8% 0%;
}

.break {
	padding: 1%;
}

.pinkText {
	color: #ee6068;
}

.blueDiv {
	font-size: 14px;
	background: #0d4e63;
	color: #fff;
	padding: 8px 15px 0px 10px;
}

.lightBlueDiv {
	background-color: #ebf9fc;
	padding: 20px 10px 15px 10px;
	border: 3px solid #fff;
}

.pinkDiv {
	background-color: #fcf5f6;
	padding: 20px 10px 5px 10px;
	border: 3px solid #fff;
}

.no-pad-left {
	padding-left: 0;
}

.no-pad-right {
	padding-right: 0;
}

.fablab {
	bottom: 0;
}

.homeDivider {
	border: 5px solid #0d4e63;
}

.headDivider {
	border: 3px solid #0d4e63;
}

.greyBg {
	background-color: #eaeaea;
}

.top-bar {
	background-color: #fff;
	padding: 15px 0px;
}

.top-bar ul {
	background-color: #fff;
}

@media only screen and (max-width: 720px) {

   h1 { 
   	font-size: 5em; 
   }

   .number {
   	width: 30px;
   	padding: 10px 0;
   }

}